<div class="jumbotron">
    <h1>Angular/Web API Project</h1>
    <p class="lead">Angular/Web API Project</p>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>

<div>
    <h2>C# Exercises</h2>
</div>

<div class="container" ng-app="mainApp" ng-controller="display">
    <div max1>
    </div>
    <br />
    <div sum>
    </div>
    <br />
    <div multiply>
    </div>
    <br />
    <div factorial>
    </div>
    <br />
    <div palindrome>
    </div>
    <br />
</div>

