<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <link href="../../../Css/Login.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
    
    <script src="../../app.js"></script>
    <script src="../../Controllers/homeController.js"></script>
    <script src="../../Services/authInterceptorSvc.js"></script>

    <script src="../../Services/authServices.js"></script>
   

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <form>

        <div  ng-controller="logincontroller" class="col-md-5 form-group">
            <div class="form-group">
                <div id="Maindic">
                    <h2>Log In</h2>
                    <hr />

                    <div class="col-md-6 form-group">
                        <label for="username">User Name</label>
                    </div>
                    <div class="col-md-6 form-group">
                        <input class="form-control" type="text" data-ng-model="loginData.username" id="username" required />
                    </div>
                    <div class="col-md-6 form-group">

                        <label for="password">Password:</label>
                    </div>
                    <div class="col-md-6 form-group">
                        <input class="form-control" type="password" id="password" data-ng-model="loginData.password" required />
                    </div>
                   
                        <div class="col-md-6 form-group">
                            <label for="rememberMe">Remember Me:</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="checkbox" id="rememberMe" data-ng-model="loginData.rememberMe" class="checkbox" />
                        </div>
                       
                  
                    <div class="pull-right">
                        <button type="submit" ng-click="loginData()" class="btn btn-default">Login</button>


                    </div>
                </div>

</form>


    <!--<fieldset>
        <legend>Country</legend>

        <div class="col-md-6 form-group">
            Country Name
        </div>
        <div class="col-md-6 form-group">
            <input type="text" class="form-control" data-ng-model="Country.name" placeholder="Enter Country" required />
        </div>


        <div class="col-md-6 form-group">
            Country Code
        </div>
        <div class="col-md-6 form-group">
            <input type="text" class="form-control" data-ng-model="Country.Code" placeholder="Enter Country code" required />
        </div>

        <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="Savecountry()">Save</button>
        </div>
        
      
    </fieldset>-->


</body>
</html>
