<div>
    <h3>Edit or Delete Transaction</h3>
    <div class="row clearfix">
        <br />
                <br />
                <form class="form-horizontal col-md-12" role="form">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="Amount">Amount:</label>
                        <input type="text" class="form-control col-md-9" ng-model="transaction.Amount" required autofocus />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="AbsAmount">Absolute Amount:</label>
                        <input type="text" class="form-control col-md-9" ng-model="transaction.AbsAmount" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="ReconciledAmount">Reconciled Amount:</label>
                        <input type="text" class="form-control col-md-9" ng-model="transaction.ReconciledAmount" required autofocus />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="AbsReconciledAmount">Absolute Reconciled Amount:</label>
                        <input type="text" class="form-control col-md-9" ng-model="transaction.AbsReconciledAmount" required autofocus />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="Date">Date:</label>
                        <input type="text" class="form-control col-md-9" ng-model="transaction.Date" required autofocus />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="Description">Description:</label>
                        <input type="text" class="form-control col-md-9" ng-model="transaction.Description" required autofocus />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="CategoryId">Select a Category:</label>
                        <select type="text" class="form-control col-md-9" ng-model="transaction.CategoryId" ng-options="category.Id as category.Name for category in categories"></select>
                    </div>
                </form>
        </div>
        <br />
        <br />
        <div>
            <input type="button" class="btn btn-primary" value="Update Transaction" ng-click="editTransaction()">
            <input type="button" class="btn btn-primary" value="Delete Transaction" ng-click="deleteTransaction()">
            <input type="button" class="btn" value="Cancel" ui-sref="Transactions">
        </div>
    </div>
</div>