<div ng-controller="BudgetsController">
    <h1>Budgets Summary</h1>

    <button class="btn btn-primary" ui-sref="CreateBudget">
        Create A New Budget
    </button>
    <div>
        <br />
        <br />
        <table class="table table-striped table-hover">
            <tr>
                <th>Category</th>
                <th>Amount</th>
            </tr>
            <tr ng-repeat="budget in budgets">
                <td>{{budget.CategoryId}}</td>
                <td>{{budget.Amount| currency:'$'}}</td>
                <td>
                    <a class="btn btn-primary" ui-sref="EditBudget({id: budget.Id})">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit or Delete Budget</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>