    <div ng-controller="BudgetsController">
        <h3>Create Budget</h3>
        <form class="row clearfix">
            <br />
            <form class="form-horizontal col-md-12" role="form">
                <div class="form-group">
                    <label class="control-label col-md-3">Select a Category:</label>
                    <select ng-model="categoryId" ng-options="category.Id as category.Name for category in categories"></select>
                </div>
            </form>

            <div class="form-group">
                <label class="control-label col-md-3" for="Amount">Amount:</label>
                <input type="text" class="form-control col-md-9" placeholder="Amount" data-ng-model="Amount" />
            </div>
        </form>
        <br />
        <br />
        <div>
            <input type="button" class="btn btn-primary" value="Create Budget" ng-click="createBudget()">
            <input type="button" class="btn" value="Cancel" ui-sref="Budgets">
        </div>
    </div>
    </div>
    <!--categories[budget.categoryid].name                      <div class="form-control col-md-9">-->
    <!--typeahead=" categories.name for item in categories | filter:$viewvalue | limitto:8"  data-ng-options="category in categories"-->