@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cars, Inc.</h1>
    <p class="lead">We have @ViewBag.NumberCars in our system.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Cars, Inc. makes the job easier.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get more libraries</h2>
        <p>At Cars, Inc. it is all about ease of selection.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>