<!-- ko with: home -->
<div class="container" >
    <div class="jumbotron">
        <h1>AngularJS.Net</h1>
        <p class="lead">AngularJS App for Testing.</p>
    </div>
    <ng-view></ng-view>
</div>
<!-- /ko -->
