@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/img/bugtracker-icon.png" class="col-md-2" />
    <h1>BugTracker</h1>
    <p class="lead">BugTracking is online software for professional teams.</p>
</div>
<container><div class="row">
    <section class="col-md-6 text-info">
        Existing users login now.  <hr />If you are new to our site, we are glad you are here.
        Explore the "About" page.  
        And remember, we are always available through the Contact page to purchase, and for questions.
        <hr />
    </section>
    @*<div>
        <form action="@Url.Action("AdminLogin", "Account", new { autoLogin = "Administrator" })" method="post">
            @Html.AntiForgeryToken()
            <button class="btn btn-default btn-primary btn-large" type="submit">BEGIN TOUR HERE</button>
            <br /><br />
        </form>
    </div>*@
</div></container>
