<div id="register" class="panel panel-default" ng-controller="RegisterController">
    <div class="panel-heading"><h2>Register a New Account</h2></div>
    <div class="panel-body">
        <header class="text-align-center">
            <div ng-hide="message == ''" ng-class="(isError) ? 'alert alert-danger' : ''" style="padding:5px; margin-bottom:-15px;">
                <h4>{{message}}</h4>
            </div>
        </header>
        <div>
            <form class="form-register no-margin" role="form" name="registerForm">
                <fieldset>
                    
                    <div class="form-group no-margin">
                        <label for="email">Email</label>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input id="email" name="email" type="email" required data-ng-model="registerData.Email" class="form-control input-lg"
                                   placeholder="Email">
                        </div>
                        <span ng-show="registerForm.Email.$error.required">
                            Email is required, and must be a valid email address
                        </span>

                    </div>
                    
                    <div password-verify data-ng-model="registerdata.ConfirmPassword" form-name="registerForm"></div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-block btn-lg btn-danger" data-ng-click="register()" data-ng-disabled="registerForm.$invalid">
                        <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                        <small>Register</small>
                    </button>
                    <div class="forgot"><a class="forgot" href="#/login">Back to login</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
