@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}
<div class="container">
    <div class="row">
        <h2 class="page-header">Welcome back. <small> Click on the sidebar to the left to get started!</small> </h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="widget">
                <div class="widget-header">
                    <p>Hello, I am the header.</p>
                </div>
                <div class="widget-body">
                    <p>I am the body.</p>
                </div>
            </div>
        </div>
    </div>
</div>
