@model List<FirstChallenge.Models.ComicBook>
@{
    ViewBag.Title = "Comic Book Catalog";
}

<h2>Comic Book Catalog</h2>
<div class="col-md-4">
    @foreach (var comic in Model)
    {
        <h3>@Html.ActionLink(comic.ComicTitle, "Detail", new { id = comic.ComicBookId })</h3>
        <h4>#@comic.EpisodeNumber - @comic.ComicTitle</h4>

        var characters = comic.Characters.Select(c => c.Name).ToArray();
        var charactersString = String.Join(", ", characters);
        <p>Staring: <strong>@charactersString</strong></p>

    }
</div>
@*<div class="col-md-8 jcarousel-wrapper">
    <div class="jcarousel data-jcaurosel=" true">
        <ul>
            <li style="width: 140px;"><img src="http://www.discoveramerica.com/~/media/d126ddef80ce4410b5c5dfe4eac41f5c/239%20wyoming%20grandtetonnationalpark%20feature.jpg?w=1046&h=380&bg=ffffff" alt="Image 2"></li>

            <li style="width: 140px;"><img src="http://ameribar.com/wp-content/uploads/2014/01/Wyoming-bar.jpg" alt="Image 2"></li>
        </ul>
    </div>
</div>*@


<div class="wrapper col-md-6">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li><img src="http://www.discoveramerica.com/~/media/d126ddef80ce4410b5c5dfe4eac41f5c/239%20wyoming%20grandtetonnationalpark%20feature.jpg?w=1046&h=380&bg=ffffff" alt="Image 1"></li>
                <li><img src="http://ameribar.com/wp-content/uploads/2014/01/Wyoming-bar.jpg" alt="Image 2"></li>
                <li><img src="http://images.summitpost.org/medium/453016.jpg" alt="Image 3"></li>
                <li><img src="http://pre08.deviantart.net/feef/th/pre/f/2013/009/c/9/oxbow_grand_teton_national_park_wyoming_by_ticklemeimsexy-d5qz2nf.jpg" alt="Image 4"></li>
                <li><img src="http://www.normalform.com/girlmeetsmorocco/wp-content/uploads/2014/07/wyoming-dude-ranch.bmp" alt="Image 5"></li>
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

        <p class="jcarousel-pagination"></p>
    </div>
</div>


