<!--@*
    Astral by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
    *@
-->
@{
    ViewBag.Title = "LibreWorx";
}
<link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico" />
<!-- Wrapper-->
<div id="wrapper">

    <!-- Nav -->
    <nav id="nav">
        <a href="#me" class="icon fa-home active"><span>Home</span></a>
        <a href="#work" class="icon fa-folder"><span>Work</span></a>
        <a href="#resume" class="icon fa-graduation-cap"><span>Resumé</span></a>
        <a href="#contact" class="icon fa-envelope"><span>Contact</span></a>
        <a href="https://twitter.com/LibreWorx" target="_blank" class="icon fa-twitter"><span>Twitter</span></a>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Me -->
        <article id="me" class="panel">
            <header>
                <h1>Hugh N Jones</h1>
                <p>Software Engineer: LibreWorx WebDev</p>
            </header>
            <a href="#work" class="jumplink pic">
                <span class="arrow icon fa-chevron-right"><span>See my work</span></span>
                <img src="/Content/images/me.jpg" alt="" />
            </a>
        </article>

        <!-- Work -->
        <article id="work" class="panel">
            <header>
                <h2>Work</h2>
            </header>
            <p>
            </p>
            <section>
                <div class="row">
                    <div class="4u">
                        <a href="http://jonesh-javascript.azurewebsites.net"
                           class="image fit"
                           target="_blank">
                            Javascript Exercises
                        </a>
                    </div>

                    <div class="4u">
                        <a href="http://jonesh-csharpexercises.azurewebsites.net/" class="image fit" target="_blank">
                            C# Examples: MVC
                        </a>
                    </div>

                    <div class="4u">
                        <a href="http://jonesh-mvc3.azurewebsites.net/" class="image fit">Future, MVC LibreWorx.com</a>
                    </div>
                </div>

                <div class="row">
                    <div class="4u">
                        <a href="https://docs.google.com/a/libreworx.com/document/d/1LoA2GJmq14rEYMDCNHVd1hCaGJnDY2Ux_a2KyW7F38g/edit?usp=sharing" class="image fit">First Two Years of LibreWorx</a>
                    </div>
                    <div class="4u">
                        <a href="https://docs.google.com/a/libreworx.com/document/d/1REz46yia_bsD1tIWVxvNPG7TFMN7otD1CfG8dBqLhyo/edit?usp=sharing" class="image fit">Coder School Diary</a>
                    </div>
                    <div class="4u">
                        <a href="#" class="image fit"><img src="/Content/images/pic06.jpg" alt=""></a>
                    </div>
                </div>

                @*<div class="row">
                        <div class="4u">
                            <a href="#" class="image fit"><img src="/Content/images/pic07.jpg" alt=""></a>
                        </div>
                        <div class="4u">
                            <a href="#" class="image fit"><img src="/Content/images/pic08.jpg" alt=""></a>
                        </div>
                        <div class="4u">
                            <a href="#" class="image fit"><img src="/Content/images/pic09.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="4u">
                            <a href="#" class="image fit"><img src="/Content/images/pic10.jpg" alt=""></a>
                        </div>
                        <div class="4u">
                            <a href="#" class="image fit"><img src="/Content/images/pic11.jpg" alt=""></a>
                        </div>
                        <div class="4u">
                            <a href="#" class="image fit"><img src="/Content/images/pic12.jpg" alt=""></a>
                        </div>
                    </div>*@

            </section>
        </article>

        <article id="resume" class="panel">
            <header>
                <h1>Education and Background</h1>
                <p>Software Engineer, Entreprenur</p>
            </header>
            <h3>Resumé</h3>
            <ul>
                <li>
                    <label class="date">(2014 - Current)</label>
                    <span class="job-title"> Student: Coder Foundry</span>
                    <div class="job-description">
                        Code foundations on the ASP.net platform.
                    </div>
                    <label class="skills">C#, HTML, ASP.net, JavaScript, bootstrap.</label>
                </li>

                <li>
                    <label class="date">(2009-Current)</label>
                    <span class="job-title">Owner,Mosquito Squad, Greensboro, NC</span>
                    <div class="job-description">
                        Residential, specialized pest control to 3000 residents.
                    </div>
                    <label class="skills">EPA licenses, National Board Advisor to Mosquito Squad, Mentor.</label>
                </li>

                <li>
                    <label class="date">(1981-2013)</label>
                    <span class="job-title">President, Jones Fabricare, Inc., Greensboro, NC</span>
                    <div class="job-description">
                        Specialty garment care for 1600 stores and cleaners throughout five states.
                    </div>
                    <label class="skills">Process management, financial controls, customer care.</label>
                </li>

                <h3>Education</h3>
                <ul>
                    <li>
                        <label class="date">(1985)</label>
                        <span class="job-title">University of North Carolina, Chapel hill, NC</span>
                        <div class="job-description">Executive MBA</div>
                        <label class="skills">Finance, operations, marketing, and strategic management.</label>
                    </li>
                    <li>
                        <label class="date">(1976-1980)</label>
                        <span class="job-title">Furman University, Greenville, SC</span>
                        <div>Business Administration</div>
                        <label class="skills">Liberal Arts degree with emphasis in business.</label>
                    </li>
                </ul>

                <h3>References</h3>
                <ul>
                    <li>
                        <div class="job-description">Full references available upon request.</div>
                    </li>

                </ul>

            </ul>
        </article>

        <article id="twitter" class="panel">
            <header>
                <h1>LibreWorx on Twitter</h1>
            </header>
            <h3>Twitter</h3>
            <a class="twitter-timeline" href="https://twitter.com/LibreWorx" data-widget-id="554749460866408448">Tweets by @Html.Raw("@")LibreWorx</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </article>

        <!-- Contact -->
        <article id="contact" class="panel">
            <header>
                <h2>Contact Me</h2>
            </header>
            <form action="#" method="post">
                <div>
                    <div class="row">
                        <div class="6u">
                            <input type="text" name="name" placeholder="Name" />
                        </div>
                        <div class="6u">
                            <input type="text" name="email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <input type="text" name="subject" placeholder="Subject" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <textarea name="message" placeholder="Message" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <input type="submit" value="Send Message" />
                        </div>
                    </div>
                </div>
            </form>
        </article>

    </div>

    <!-- Footer -->
    <div id="footer">
        <ul class="copyright">
            <!--<li>&copy; Untitled.</li><li>Design: <a href="http://www.LibreWorx.com">LibreWorx Web Dev</a></li>-->
        </ul>
    </div>

</div>