<h1>Forecast for {{ details.formattedAddress }}</h1>
<hr />
Days: <a href="#/forecast/2" ng-class="{'bg-primary': days=='2'}">2</a> | <a href="#/forecast/5" ng-class="{'bg-primary': days=='5'}">5</a> | <a href="#/forecast/7" ng-class="{'bg-primary': days=='7'}">7</a> | 
<a href="#/">Back to Search: </a>
<hr />

<div ng-repeat="w in weatherResult.list">
    <div class="row">
        <div class="clearfix">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <h3 class="panel-title">{{convertToDate(w.dt*1000) | date: 'MMM d, y' }} <img src="http://openweathermap.org/img/w/{{w.weather[0].icon}}.png" alt="weatherIcon"></img></h3>
                </div>
                <div class="row">
                    <div class="panel-body">
                        Daytime temperature:  {{ convertToFahrenheit(w.temp.day)}}
                        <br />
                        Nighttime temperature:  {{ convertToFahrenheit(w.temp.eve) }}
                        <br />
                        Humidity:  {{ w.humidity+ "%" }}
                        <br />
                        Weather:  {{ w.weather[0].description }}
                        <br />
                    </div>
                    <!--<div class="col-md-6">
                    <img class="img-responsive" src="http://farm2.static.flickr.com/1104/1434841504_edc671e65c.jpg?v\u003d0" alt="weatherPicture">
                </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
