@{
    ViewBag.Title = "Home Page";
}
<div ng-app="app" ng-controller="mainController">
    <div class="jumbotron">
        <h1>MVC Testing Site</h1>
        <input type="text" ng-model="search" />
        <p class="lead">Test {{ search }} this Web applications using C#, HTML, CSS and JavaScript.</p>
    </div>
    <div>
        <ul class="phones">
            <li ng-repeat="phone in phones | filter:query">
                {{phone.name}}
                <p>{{phone.snippet}}</p>
            </li>
        </ul>

    </div>
</div>


