@{
    ViewBag.Title = "Contact";

}

    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>We offer?</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                <div class="content-panel">
                    <p>Morbi pellentesque libero a metus feugiat tincidunt. Vestibulum in purus lacinia, pharetra odio eget, molestie nunc. Aenean blandit rhoncus felis nec elementum. Integer quis tincidunt quam. Suspendisse blandit, urna ac eleifend facilisis, dolor nunc malesuada quam, id vestibulum arcu urna sit amet ligula. Phasellus nec ultrices enim. Morbi risus magna, suscipit sit amet elementum vitae, laoreet ut lectus. Phasellus blandit elit non leo consequat, in convallis neque molestie.</p>
                </div>
            </div>
            <div class="col-xs-12 hidden-sm col-md-4 col-lg-4">
                <div class="content-panel">
                    <p>Nunc ornare elementum tempor. Nunc justo elit, eleifend id mollis sit amet, tincidunt sed diam. Sed nec interdum elit. Sed consequat ipsum ut magna lobortis, rutrum elementum libero imperdiet. Nulla accumsan consectetur varius. Suspendisse accumsan dui vitae semper interdum. Suspendisse sed bibendum turpis, pharetra sollicitudin magna. Ut orci neque, varius id leo eget, ornare varius metus. Duis congue venenatis est, id lobortis diam placerat ac. Quisque vitae orci erat.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="/img/slider/slider-1.jpg" alt="" />
                            </li>
                            <li>
                                <img src="/img/slider/slider-2.jpg" alt="" />
                            </li>
                            <li>
                                <img src="/img/slider/slider-3.jpg" alt="" />
                            </li>
                            <li>
                                <img src="/img/slider/slider-4.jpg" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="content-panel">
                    <p>
                        Mauris nec ultricies est, non rhoncus lacus. Donec elementum nunc luctus neque auctor, ut hendrerit ligula commodo. Ut vel sollicitudin nulla. In condimentum est eu vulputate dapibus
                        Mauris nec ultricies est, non rhoncus lacus. Donec elementum nunc luctus neque auctor, ut hendrerit ligula commodo. Ut vel sollicitudin nulla. In condimentum est eu vulputate dapibus.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 hidden-sm col-md-3 col-lg-3">
                <div class="content-panel">
                    <p>
                        Mauris nec ultricies est, non rhoncus lacus. Donec elementum nunc luctus neque auctor, ut hendrerit ligula commodo. Ut vel sollicitudin nulla. In condimentum est eu vulputate dapibus
                        Mauris nec ultricies est, non rhoncus lacus. Donec elementum nunc luctus neque auctor, ut hendrerit ligula commodo. Ut vel sollicitudin nulla. In condimentum est eu vulputate dapibus.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="content-panel" id="video"><iframe src="http://player.vimeo.com/video/69949278" class="video" width="500" height="300"></iframe></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>The team</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <img class="img-responsive" src="~/img/about/team.jpg" alt="" />
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="content-panel">
                            <h3>Hugh N Jones</h3>
                            <p>Technology lead.</p>
                        </div>
                        <ul class="team-social social">
                            <li>
                                <a href="https://www.facebook.com/hnjonesf" target="_blank">
                                    <div class="social-facebook"></div>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/111438616735868945474/posts" target="_blank">
                                    <div class="social-google-plus"></div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/hughnjones"
                                   target="_blank">
                                    <div class="social-linkedin"></div>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/LibreWorx"
                                   target="_blank">
                                    <div class="social-twitter"></div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>