@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Home";
}


<section class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel-title">
                <!-- Content panel title for padding and border -->
                <h2>What we do?</h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <p>Building Web-based service applications on the ASP.net platform.  We use the most relevant and current tools, including MVC, Javascript, Twitter Bootstrap, Insight Database Schema, and SQL Server technologies.  </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <img class="content-image" src="~/img/filler/4.jpg" alt="" />
                <p>ASP.net--the preferred platform for business.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <img class="content-image" src="~/img/filler/16.jpg" alt="" />
                <p>Responsive sites for today's applications.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <img class="content-image" src="~/img/filler/17.jpg" alt="" />
                <p>Secure and reliable sites.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel-title">
                <!-- Content panel title for padding and border -->
                <h2>Our work</h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <p>Excellent, scaled application development.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <div class="boxgrid slideright">
                    <img class="cover" src="~/img/filler/11.jpg" alt="" />
                    <h3>Sample of Our Work</h3>
                    <p>JavaScript Samples<br /><a class="soft-hover" href="http://jonesh-javascript.azurewebsites.net/">More Work</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <div class="boxgrid slideright">
                    <img class="cover" src="~/img/filler/10.jpg" alt="" />
                    <h3>Sample of Our Work</h3>
                    <p>C# Exercises<br /><a class="soft-hover" href="http://jonesh-csharpexercises.azurewebsites.net/">More Work</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <div class="boxgrid slideright">
                    <img class="cover" src="~/img/filler/9.jpg" alt="" />
                    <h3>Sample of Our Work</h3>
                    <p>BugTracker MVC Project<br /><a class="soft-hover" href="http://weiserp-bugtracker.azurewebsites.net/">More Work</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <div class="boxgrid slideright">
                    <img class="cover" src="~/img/filler/10.jpg" alt="" />
                    <h3>Code School</h3>
                    <p><br /><a class="soft-hover" href="https://docs.google.com/a/libreworx.com/document/d/1REz46yia_bsD1tIWVxvNPG7TFMN7otD1CfG8dBqLhyo/edit?usp=sharing">Diary</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <div class="boxgrid slideright">
                    <img class="cover" src="~/img/filler/10.jpg" alt="" />
                    <h3>Sample of Our Work</h3>
                    <p>Coming Soon<br /><a class="soft-hover" href="#">BugTracker</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <div class="boxgrid slideright">
                    <img class="cover" src="~/img/filler/9.jpg" alt="" />
                    <h3>Sample of Our Work</h3>
                    <p>Coming Soon<br /><a class="soft-hover" href="#">More Work</a></p>
                </div>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel-title">
                <!-- Content panel title for padding and border -->
                <h2>Clients</h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <p>LibreWorx WebDev works with firms of 20MM to 200MM to provide solutions to data with the most relevant, secure, and current technology.</p>
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="content-panel">
                <!-- Content panel in every span for padding -->
                <div class="flexslider">
                    <ul class="slides">
                        
                        <li>
                            <img src="~/img/clients/mosquitosquad.png" alt="" />"   "
                        </li>
                        <li>
                            <img src="~/img/clients/mosquitosquad.png" alt="" />"   "
                        </li>
                        <li>
                            <img src="~/img/clients/mosquitosquad.png" alt="" />"   "
                        </li>
                        <li>
                            <img src="~/img/clients/mosquitosquad.png" alt="" />"   "
                        </li>
                        <li>
                            <img src="~/img/clients/mosquitosquad.png" alt="" />"   "
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
</section>

