<div>
    <h3>Edit or Delete Transaction</h3>
    <div class="row clearfix">
        <br />
        <form class="form-horizontal col-md-12" role="form">
            <div class="form-group">
                <label class="control-label col-md-3" for="AccountId">Account:</label>
                <input type="text" class="form-control col-md-9" ng-model="transaction.AccountId" required autofocus />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="Amount">Amount:</label>
                <input type="text" class="form-control col-md-9" ng-model="transaction.Amount" required autofocus />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="AbsAmount">Absolute Amount:</label>
                <input type="text" class="form-control col-md-9" ng-model="transaction.AbsAmount" required autofocus />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="ReconciledAmount">Reconciled Amount:</label>
                <input type="text" class="form-control col-md-9" ng-model="transaction.ReconciledAmount" required autofocus />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="AbsReconciledAmount">Absolute Reconciled Amount:</label>
                <input type="text" class="form-control col-md-9" ng-model="transaction.AbsReconciledAmount" required autofocus />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="Date">Date:</label>
                <input type="text" class="form-control col-md-9" ng-model="transaction.Date" required autofocus />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="Description">Description:</label>
                <input type="text" class="form-control col-md-9" ng-model="transaction.Description" required autofocus />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="Updated">Updated:</label>
                <input type="text" class="form-control col-md-9" ng-model="transaction.Updated" required autofocus />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="UpdatedByUserId">Updated By User Id:</label>
                <input type="text" class="form-control col-md-9" ng-model="transaction.UpdatedByUserId" required autofocus />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="CategoryId">CategoryId:</label>
                <input type="text" class="form-control col-md-9" ng-model="transaction.CategoryId" required autofocus />
            </div>
        </form>
        <br />
        <br />
        <div>
            <input type="button" class="btn btn-primary" value="Update Transaction" ng-click="editTransaction()">
            <input type="button" class="btn btn-primary" value="Delete Transaction" ng-click="deleteTransaction()">
            <input type="button" class="btn" value="Cancel" ui-sref="Transactions">
        </div>
    </div>
</div>