<div>
    <h3>Create Category</h3>
    <div class="row clearfix">
        <br />

        <form class="form-horizontal col-md-12" role="form">
            <div class="form-group">
                <label class="control-label col-md-3" for="Name">Name:</label>
                <input type="text" class="form-control col-md-9" placeholder="Name" ng-model="category.Name" required autofocus />
            </div>
        </form>
        <br />
        <br />
        <div>
            <input type="button" class="btn btn-primary" value="Create Category" ng-click="createCategory()">
            <input type="button" class="btn" value="Cancel" ui-sref="Categories">
        </div>
    </div>
</div>