<div ng-controller="CategoriesController">
    <h1>Categories Summary</h1>

    <button class="btn btn-primary" ui-sref="CreateCategory">
        Create A New Category
    </button>
    <div>
        <br />
        <br />

        <table class="table table-striped table-hover">
            <tr>
                <th>Category Name</th>
            </tr>
            <tr ng-repeat="account in accounts">
                <td>{{category.Name}}</td>
                <td>
                    <a class="btn btn-primary" ui-sref="EditCategory({id: account.Id})">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit or Delete Category</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>