@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-12">
            <h2>SquadClock</h2>
            <p>Simply put, Squadclock is a system that keeps track of your employees hours, crunches the numbers, and lets you know how much they need to be paid every pay-period. Additionally, they can clock in and out from anywhere!</p>
            <p>Learned enough yet? Click the button below to get started!</p>
            <a href="@Url.Action("Register", "Account")" class="btn btn-warning">Get started!</a>
        </div>

    </div>
</div>
