@{
    ViewBag.Title = "Contact us!";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3></h3>

    <address>
        2715 Pinedale Dr<br />
        Greensboro, NC 27408<br />
        <abbr title="Phone">P:</abbr>
        (336)617-5268
    </address>

    <address>
        <strong>Design:</strong>   <a href="mailto:spreadthelife@gmail.com">Design</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Something</a>
    </address>
</div>