<div class="modal-header">
    <h3 class="modal-title">Edit Account</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Name" data-ng-model="editAccount.name" required autofocus>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    <button type="button" class="btn btn-primary" data-ng-click="updateAccount(editAccount)">Save changes</button>
</div>