<div ng-controller="AboutController">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4">
                <h2>
                    Manage All Your Accounts
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#/dashboard">View details »</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    Complete Budgeting
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#/budgets">View Budgets »</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    Flexible Household Configuration
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#/households">View Households »</a>
                </p>
            </div>
        </div>
    </div>
</div>