<div ng-controller="AboutController">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4">
                <h2>
                    Manage All Your Accounts
                </h2>
                <p>
                    Create each of your accounts, then reconcile them in one location                </p>
                <p>
                    <a class="btn" href="#/dashboard">Dashboard Summary</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    Complete Budgeting
                </h2>
                <p>
                            Monthly budgeting, to keep your financials in check.                </p>
                <p>
                    <a class="btn" href="#/Budgets">View Budgets »</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    Flexible Household Configuration
                </h2>
                <p>
                    Multiple households for flexiblity.                </p>
                <p>
                    <a class="btn" href="#/Categories">Households</a>
                </p>
            </div>
        </div>
    </div>
</div>