@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Assets/logo.png" class="col-md-2"/>
    <h1>Review Central</h1>
    <p class="lead">Your source for in depth critique of your favorite albums.</p>
</div>      