@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LibreWorx</h1>
    <p class="lead">ASP.NET and LibreWorx: creating web apps.</p>
    <p><a href="http://LibreWorx.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
