<div>
    <h2>Transactions Summary</h2>

    <button class="btn btn-primary glyphicon glyphicon-pencil" ui-sref="CreateTransaction({accountId: accountId})">
        Create A New Transaction
    </button>
    <div>
        <br />
        <br />


        <div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            <strong>Filter:</strong><input type="text" ng-model="filterOptions.filterText" />
                        </div>
                        <div class="panel-body">
                            <div class="gridStyle" ng-grid="gridOptions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<table class="table table-striped table-hover">
            <tr>
                <th>Amount</th>
                <th>Abs Amount</th>
                <th>Reconciled Amount</th>
                <th>Abs Reconciled Amount</th>
                <th>Date</th>
                <th>Description</th>
                <th>Updated</th>
                <th>Updated By</th>
                <th>Category</th>
            </tr>
            <tr ng-repeat="transaction in transactions">
                <td>{{transaction.Amount| currency:'$'}}</td>
                <td>{{transaction.AbsAmount| currency:'$'}}</td>
                <td>{{transaction.ReconciledAmount| currency:'$'}}</td>
                <td>{{transaction.AbsReconciledAmount| currency:'$'}}</td>
                <td>{{transaction.Date | date}}</td>
                <td>{{transaction.Description}}</td>
                <td>{{transaction.Updated | date}}</td>
                <td>{{transaction.UpdatedByUserId}}</td>
                <td>{{categories[transaction.CategoryId].Name}}</td>
                <td>
                    <a class="btn btn-primary" ui-sref="EditTransaction({transactionId: transaction.Id})">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit or Delete Transaction</span>
                    </a>
                </td>
            </tr>
        </table>-->
    </div>
    <button class="btn btn-primary glyphicon glyphicon-list" ui-sref="Accounts.List">
        Back to Accounts
    </button>
</div>