<div ng-controller="RegisterController" class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <form class="form-signin" ng-submit="register()">
            <h2 class="form-signin-heading">{{message}}</h2>
            <label for="userName" class="sr-only">Email address</label>
            <input type="text" ng-model="model.Username" class="form-control" placeholder="Username" required autofocus>
            <label for="inputEmail" class="sr-only">Name</label>
            <input type="text" ng-model="model.Name" class="form-control" placeholder="Name" required>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" ng-model="model.Email" class="form-control" placeholder="Email Address" required>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" ng-model="model.Password" class="form-control" placeholder="Password" required>
            <label for="inputPassword" class="sr-only">Confirm Password</label>
            <input type="password" ng-model="model.ConfirmPassword" class="form-control" placeholder="Confirm Password" required><br />
            <span style="color:red;" ng-if="model.Password != model.ConfirmPassword">The passwords do not match!</span>
            <br />
            <input class="btn btn-lg btn-default" type="submit" ng-disabled="model.Password != model.ConfirmPassword" value="Register"/>
        </form>
    </div>
</div>
