@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coding Exercises</h1>
    <p class="lead">Learning c#, javascript, css, html, bootstrap, and related.</p>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-6">
            <p>
                @Html.ActionLink("Jump to 1", "Jump1","Home")
                <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</div>





