
@{
    ViewBag.Title = "Jump2";
}

<h2>Jump2</h2>

<div class="row">
    <div class="container">
        <div class="col-md-6">
            <p>
                @ViewBag.Jump2
            </p>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Pick a Destination <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Jump1", "Jump1", "Home")</li>
                    <li>@Html.ActionLink("Jump2", "Jump2", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
