<div ng-controller="DashboardController">
    <!-- Main Wrapper -->
    <div id="wrapper">

        <div class="row">
            <div class="col-lg-4">
                <div class="panel-body">
                    <h4>Accounts/Balances</h4>
                    <!-- howto write a stored procedure to sum accounts  HUGH -->
                    <ul>
                        <li>Checking $2343.22</li>
                        <li>Savings $12,342.21</li>
                    </ul>
                    <a ui-sref="Accounts.List" class="btn btn-primary btn-xs">Full Account Details</a>
                </div>
                <div class="panel-body">
                    <h4>Recent Transactions from All Accounts</h4>
                    <!-- GET TRANSACTIONS REGARDLESS OF ACCOUNT, SORTED INVERSE BY DATE, LIMITED TO FOUR  HUGH -->
                    <ul>
                        <li>
                            07/12/2015 Checking $44.00 Shoes
                          <!-- above put ng-repeat for transaction in transactions{{transaction.Date | date}}{{transaction[AccountId].Name}}{{transaction.Amount| currency:'$'}}{{transaction.UpdatedByUserId}}{{transaction.Description}}-->
                        </li>
                        <li>
                            07/10/2015 Checking $64.00 Dinner
                        </li>
                        <li>
                            07/10/2015 Savings $114.00 Vacation Contribution
                        </li>
                        <li>
                            07/04/2015 Checking $647.12 BOA Mortgage
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="hpanel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        Budget vs. Actual Expenses by Category
                    </div>
                    <div class="panel-body">
                        <div>
                            <canvas barchart options="barOptions" data="barData" height="140" responsive=true></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
