<div ng-controller="DashboardController">
    <!-- Main Wrapper -->
    <div id="wrapper">

        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    <div panel-tools></div>
                    Income by Month
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div flot class="flot-chart-content" dataset="flotChartData" options="flotBarOptions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
