<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Financial Portal</title>

    <!--Copyright LibreWorx 2015 All rights reserved
    LibreWorx WebDev
    2715 Pinedale Rd
    Greensboro, NC   27408 USA
    www.LibreWorx.com-->


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!--CSS-->
    <link href="Content/ng-table.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="57x57" href="Content/Media/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="Content/Media/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="Content/Media/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="Content/Media/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="Content/Media/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="Content/Media/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="Content/Media/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="Content/Media/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="Content/Media/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="Content/Media/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Content/Media/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="Content/Media/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Content/Media/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style>
        .moveDown {
            margin-top: 50px;
        }
    </style>

    <!--JavaScript-->
    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <!--AngularJS-->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>
    <script src="Angular/app.js"></script>
    <script src="Angular/global/services/authIntercetper.js"></script>
    <script src="Angular/global/services/authService.js"></script>
    <!--Ng-Table-->

    <script src="Scripts/ng-table.js"></script>

    <!--Dashboard-->
    <script src="Angular/dashboard/controllers/DashboardController.js"></script>
    <script src="Angular/users/controllers/MenuController.js"></script>

    <!--Template (Homer)-->
    <!--Accounts-->
    <script src="Angular/accounts/controllers/AccountsController.js"></script>
    <script src="Angular/accounts/controllers/EditAccountController.js"></script>
    <script src="Angular/global/services/accountsService.js"></script>
    <!--About-->
    <script src="Angular/about/controllers/AboutController.js"></script>
    <!--Budgets-->
    <script src="Angular/budgets/controllers/BudgetsController.js"></script>
    <script src="Angular/budgets/controllers/EditBudgetsController.js"></script>
    <script src="Angular/global/services/budgetsService.js"></script>
    <!--Categories-->
    <script src="Angular/categories/controllers/CategoriesController.js"></script>
    <script src="Angular/categories/controllers/EditCategoryController.js"></script>
    <script src="Angular/global/services/categoriesService.js"></script>
    <!--Transactions-->
    <script src="Angular/transactions/controllers/TransactionsController.js"></script>
    <script src="Angular/transactions/controllers/EditTransactionController.js"></script>
    <script src="Angular/transactions/controllers/CreateTransactionController.js"></script>
    <!--(Users of site, not of accouts, etc)-->
    <script src="Angular/users/controllers/UsersController.js"></script>
    <script src="Angular/users/controllers/LoginController.js"></script>
    <script src="Angular/users/controllers/RegisterController.js"></script>



</head>
<body ng-app="app">
    <!--Menu-->
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" ng-controller="MenuController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="Dashboard">Financial Portal</a>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="Accounts.List">Accounts</a>
            </ul><!--Accounts Item-->

            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="Budgets">Budgets</a>
            </ul><!--Budgets Item-->

            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="Categories">Categories</a>
            </ul><!--Categories Item-->

            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="About">About</a>
            </ul><!--About Item-->




            <ul class="nav navbar-nav navbar-right">
                <li ng-if="authentication.isAuth" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle>
                        Hello {{authentication.username}}
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="logout()">Log Out</a></li>
                    </ul>
                </li>
                <li ng-if="!authentication.isAuth" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle>
                        Login/Register<i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="Login">Login</a></li>
                        <li><a ui-sref="Register">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav><!--/.nav-collapse -->


    <div class="container">
        <div ui-view class="moveDown">
        </div>
    </div><!--end of contain for body-->
    <footer class="footer navbar navbar-inverse navbar-fixed-bottom">
        <p>&copy; 2015 - LibreWorx</p>
    </footer>
</body>
</html>
