<div class="container">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron">
                    <h1>
                        CarFinder.
                    </h1>
                    <p id="about">
                        CarFinder is a tool for selecting a vehicle by year, make, model, and trim.   It provides photos and reviews.
                    </p>
                    <br />
                    <hr />
                </div>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <dl>
                                <dt>
                                    Backend: WebAPI and MVC
                                </dt>
                                <dd>
                                    CarFinder is an ASP.NET web application from Visual Studio that created a Single Page Application (SPA).
                                    The back end requires secure login for access to the API and resources.  
                                </dd>
                                <hr />
                                <dt>
                                    Frontend: AngularJS
                                </dt>
                                <dd>
                                    To extend HTML5, AngularJS 1.3 is used for a responsive and modular user experience.
                                </dd> <!--end of AngularJS comments-->
                                <hr />
                                <dt>
                                    Edmunds.com
                                </dt>
                                <dd>
                                    <a href="http://edmunds.com" alt="Edmunds car api">Edmunds.com </a> is selected for the current api, with access to vehicle information from 1990.  Reviews include a summary rating, and the first five user comments.
                                </dd>
                                <hr />
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>